@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(../lib/font/NotoSansTC-Medium.otf); }

html,
body {
  font-family: "Noto Sans TC", "微軟正黑體";
  font-size: 100%;
  width: 100%;
  height: 100%;
  background: #009487;
  line-height: 2rem;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  html ::-webkit-scrollbar,
  body ::-webkit-scrollbar {
    display: none; }
  html ul,
  body ul {
    list-style-type: none;
    font-size: 0;
    padding: 0; }
  html ::-webkit-input-placeholder,
  body ::-webkit-input-placeholder {
    color: gray; }
  html *:focus,
  body *:focus {
    outline: none; }
  html input[type=number]::-webkit-inner-spin-button,
  html input[type=number]::-webkit-outer-spin-button,
  body input[type=number]::-webkit-inner-spin-button,
  body input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  html .page,
  body .page {
    width: 100vw;
    height: 100vh;
    font-size: 0; }
  html .btn_group,
  body .btn_group {
    font-size: 1.5rem; }
    html .btn_group button,
    body .btn_group button {
      background: #17ffff;
      color: #00828e;
      border-color: #17ffff;
      border-radius: 0.4rem;
      padding: 0.25rem 1.5rem; }
  html .input_group,
  body .input_group {
    font-size: 1.5rem; }
    html .input_group input,
    body .input_group input {
      padding: 0.1rem 0.5rem;
      border-radius: 0.5rem; }
  html .pop,
  body .pop {
    display: none;
    position: absolute;
    z-index: 500;
    top: 0; }
  html .window_block,
  body .window_block {
    display: none;
    background: #253137;
    opacity: 0.3;
    position: absolute;
    top: 0;
    z-index: 100;
    cursor: pointer; }

.pop.alert {
  width: 15rem;
  font-size: 0;
  background: skyblue;
  left: calc(50vw - 7.5rem);
  top: 40vh;
  color: brown; }
  .pop.alert .title {
    position: relative;
    background: red; }
    .pop.alert .title .text {
      font-size: 1.5rem;
      color: white; }
    .pop.alert .title .icon {
      position: absolute;
      font-size: 1.5rem;
      display: inline-block;
      width: 1.5rem;
      top: 0;
      right: 0;
      color: white; }
  .pop.alert .content {
    font-size: 1.5rem; }
  .pop.alert .footer {
    font-size: 1.5rem; }
    .pop.alert .footer .btn_group .confirm {
      padding: 0.1rem 1rem;
      margin: 0.5rem; }

.page_login {
  background: #009487;
  text-align: center;
  padding: calc(50vh - 5rem) 0;
  box-sizing: border-box; }
  .page_login .login_main {
    border: 0.5rem ridge cornsilk;
    margin: 0 1rem; }
    .page_login .login_main .input_group input {
      display: block;
      margin: 1rem auto; }
    .page_login .login_main .btn_group {
      margin: 1rem 0; }

.page_main > div {
  display: inline-block;
  vertical-align: top; }

.page_main .left_menu {
  min-width: 15rem;
  height: 100vh;
  overflow-y: auto;
  background: #253137; }
  .page_main .left_menu .menu_group {
    font-size: 1.5rem; }
    .page_main .left_menu .menu_group .main_menu {
      display: block;
      text-decoration: none;
      padding: 0.25rem 0 0.25rem 1rem;
      color: white;
      cursor: pointer; }
    .page_main .left_menu .menu_group .main_menu.active {
      background: wheat; }
    .page_main .left_menu .menu_group .sub_menu {
      display: none;
      text-decoration: none;
      padding: 0.25rem 0 0.25rem 2rem;
      color: white;
      cursor: pointer; }
    .page_main .left_menu .menu_group .sub_menu.active {
      background: skyblue; }

.page_main .sub_page {
  font-size: 1.5rem;
  width: calc(100vw - 15rem);
  text-align: center; }
  .page_main .sub_page .left_menu_icon {
    display: none;
    position: absolute;
    left: 1rem;
    top: 0;
    cursor: pointer; }
  .page_main .sub_page .page_title {
    background: skyblue; }

@media screen and (max-width: 768px) {
  .page_main .left_menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200; }
  .page_main .sub_page {
    width: 100vw; }
    .page_main .sub_page .left_menu_icon {
      display: block; } }

/*# sourceMappingURL=main.css.map */