//font
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(../lib/font/NotoSansTC-Medium.otf);
}
//normalize
@import '../lib/normalize/normalize.css';

//font-awesome
@import '../lib/font-awesome/css/font-awesome.min.css';

//animate
@import '../lib/animate/animate.min.css';

$bg-green: #009487;
$bg-skyblue: skyblue;
$bg-red: red;
$bg-black: #253137;
$bg-wheat: wheat;

$text-gray: gray;
$text-white: white;
$text-brown: brown;
$text-black: #253137;
$text-green: #00828e;

$border-cornsilk: 0.5rem ridge cornsilk;

$btn-bg-blue: #17ffff;

$font-normal: 1.5rem;

$icon-normal: 1.5rem;

$icon-color-white: white;