html, body{
    font-family: "Noto Sans TC", "微軟正黑體";
    font-size: 100%;
    width: 100%;
    height: 100%;
    background: $bg-green;
    //ie scrollBar hide
    -ms-overflow-style: none;
    //chrome,safari scrollBar hide
    ::-webkit-scrollbar {
        display: none;
    }
    //FireFox scrollBar hide
    overflow: -moz-scrollbars-none;
    ul{
        list-style-type: none;
        font-size: 0;
        padding: 0;
    }
    ::-webkit-input-placeholder {
        color: $text-gray;
    }
    input{
        padding: 0.1rem 0.5rem;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        margin: 0;
    }
    .page{
        width: 100vw;
        height: 100vh;
    }
    .btn_group{
        button{
            border-radius: 0.4rem;
            padding: 0.25rem 1.5rem;
        }
    }
}